<div class="container">
    <div class="details">
        <app-title title="Login"></app-title>

        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <!-- bgColor is white by default -->
            <!-- <input-container label="Email"> -->
            <!-- anything in it will be in ng-content -->
            <!-- <input type="email" placeholder="Email" formControlName="email" /> -->
            <!-- 
                <input-validation [control]="fc['email']" [showErrorsWhen]="isSubmitted" type="email"
                    label="Email"></input-validation>
            </input-container> -->

            <text-input [control]="fc['email']" [showErrorsWhen]="isSubmitted" type="email" label="Email">
            </text-input>

            <text-input [control]="fc['password']" [showErrorsWhen]="isSubmitted" type="password" label="Password">
            </text-input>

            <default-button text="Login"></default-button>
        </form>
    </div>
</div>